.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* login */

body{
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  background-color: #333333;
  color:#FFF;
  margin:150px auto 0px auto; 
  position: relative;
  max-width: 660px;
  padding:100px 10px 30px 10px;
}
.buttons{
  max-width: 660px;
  margin-left:auto;
  margin-right: auto;
}
.wrapper h1{
  font-size:1.5em;
  font-weight: bold;
}
.wrapper .resim{
  position: absolute;
  top:-80px;
  transform:translateX(-50%);
  left:50%;
  
}
.wrapper .resim img{
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border:5px solid #FFF;
}
.footer-logo { 
  display: block;
  margin: 0 auto;
  text-align: center;
}

@media (max-width:767.98px){
  .wrapper{
      max-width: 90%;
  }
  .buttons{
      max-width: 90%;
  }
}